@{
    ViewData["Title"] = "Home Page";
}
<div class="one-button">
    <button class="one-button-ask">Задать вопрос</button>
    <button class="button-news">Новости</button>
    <button class="button-edit">Редактировать</button>
    <button class="button-articles" onclick="window.location.href='https://www.elibrary.ru/author_profile.asp?authorid=783249'">Статьи</button>
</div>
<div class="oval-position">
     <div class="picture">
            <img class="figure-1" src="https://ic.wampi.ru/2022/11/05/image21f26d250cc27b21.png" alt="image21f26d250cc27b21.png">
            <img class="figure-2" src="https://im.wampi.ru/2022/11/05/image0d35f7efa31afae7.png" alt="image0d35f7efa31afae7.png">
            <img class="photo-teacher" src="https://ic.wampi.ru/2022/11/05/image73617d73dbc52a5f.png" alt="image73617d73dbc52a5f.png">
        </div>
        <div class="circle"></div>
        <div class="circle-2"></div>
        <div class="wr">
            <h1 class="post-name">Должность</h1>
            <h1 class="post">Председатель ВПЦК<br>(кафедры)<br>общепрофессиональных<br>и специальных
                <br>(информационно-<br>коммуникационных)<br>дисциплин</h1>
        </div>
    <div class="we">
        <h1 class="post-name-2">Преподаваемые<br>дисциплины </h1>
        <h1 class="post-2">Теория алгоритмов,<br>технология разработки<br>программного<br>продукта,<br>инструментальные<br>средства разработки<br>
            программного<br>продукта</h1>
    </div>
    <div class="m-name-teacher">
            <h1 class="name-teacher">Базеева Наталья <br>Алексеевна</h1>
        </div>
</div>
<div class="text-main">
    <h1 class="text-mainss" style="">Учись у прошлого<br>Живи сегодня<br>Надейся на завтра</h1>
</div>